<footer class="container">
    <hr class="featurette-divider">
    <p class="float-end z-10 position-relative"><a style="text-decoration: none;" href="#">Back to top &uarr;</a></p>
    <p>&copy; 2027 Tabi Cat Trips Ltd. &middot; <a style="text-decoration: none;" href="privacy.html">Privacy</a> &middot;
        <a style="text-decoration: none;" href="terms.html">Terms</a> &middot; <a style="text-decoration: none;"
                                                                                  href="cookies.html">Cookies</a></p>
</footer>