{{ define "main" }}

<header class="masthead_w container-fluid vh-100">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <h1 class="mx-auto my-0 text-uppercase">Visitors</h1>
                <h2 class="text-white-50 mx-auto mt-2 mb-5">Age 14 - 19</h2>
                <a class="btn btn-primary" href="#about">Get Started</a>
            </div>
        </div>
    </div>
</header>

<main>
    <div class="container marketing padded">

        <div class="row featurette" id="about">
            <div class="col-md-6">
                <h2 class="featurette-heading" style="font-family:'Apple Chancery',serif;">
                    The next trip
                </h2>

                <p class="lead">
                    Ever dreamt of seeing the Eiffel Tower? Or wandering the charming streets of Germany?
                    Then join us from <b>27.10.2025 - 31.10.2025</b> for an unforgettable journey through Paris and Cologne!
                </p>

                <a class="btn btn-primary" href="#signup">Book Today</a>
            </div>

            <div class="col-md-5">
                <img src="{{ "images/8.png" | relURL }}" alt="Icon" class="img-fluid">
            </div>
        </div>

        <hr class="featurette-divider" id="signup">

        <h1>Book Your Trip</h1>

        <p class="text-black-50">
            Prices start at £2199 per person.
            <br>This package is designed to provide maximum peace of mind for parents and institutions.
        </p>

        <h3>Included</h3>
        <ul>
            <li>Return flights from London Gatwick & all local travel</li>
            <li>Secure and vetted accommodations</li>
            <li>24/7 professional supervision</li>
            <li>Language practice opportunities</li>
            <li>Entrance fees to all attractions</li>
            <li>All daily meals</li>
        </ul>

        <h3>Daily Activities</h3>
        <div id="activities">
            <h5>Day 1</h5>
            <p>Cologne Old Town scavenger hunt & Rhine cruise</p>

            <h5>Day 2</h5>
            <p>Cologne Cathedral & Chocolate Museum</p>

            <h5>Day 3</h5>
            <p>Versailles Palace</p>

            <h5>Day 4</h5>
            <p>Louvre, Eiffel Tower, Musée d’Art Moderne</p>

            <h5>Day 5</h5>
            <p>Paris food market & scavenger hunt</p>
        </div>


        {{ partial "booking-form.html" . }}

    </div>
</main>

{{ end }}
