{{ define "main" }}

{{ $bg := resources.Get "images/pexels-saleh-bakshiev-387368045-30434719 (1).jpg" }}
<header class="masthead container-fluid min-vh-100" style="background-image: url('{{ $bg.RelPermalink }}')">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <h1 class="mx-auto my-0 text-uppercase">Visitors</h1>
                <h2 class="text-white-50 mx-auto mt-2 mb-5">Age 14 - 19</h2>
                <a class="btn btn-primary" href="#about">Get Started</a>
            </div>
        </div>
    </div>
</header>

<main>
    {{ range .Pages }}
    <div class="container marketing padded">

        <div class="row featurette" id="about">
            <div class="col-md-6">
                <h2 class="featurette-heading" style="font-family:'Apple Chancery',serif;">
                    The next trip
                </h2>
                <p class="lead">{{ .Params.text }}</p>
                <a class="btn btn-primary" href="#signup">Book Today</a>
            </div>

            <div class="col-md-5">
                {{ $img := resources.Get .Params.image }}
                <img src="{{ $img.RelPermalink }}" class="img-fluid" alt="next trip">
            </div>
        </div>

        <hr class="featurette-divider" id="signup">

        <h1>Book Your Trip</h1>

        <p class="text-black-50">
            Prices start at £2199 per person.
            <br>This package is designed to provide maximum peace of mind for parents and institutions.
        </p>

        <h3>Included</h3>
        <ul>
            <li>Return flights from London Gatwick & all local travel</li>
            <li>Secure and vetted accommodations</li>
            <li>24/7 professional supervision & Dedicated group leaders</li>
            <li>Language practice opportunities</li>
            <li>Entrance fees to all attractions</li>
            <li>All daily meals</li>
            <li>Optional Regular updates to schools/parents</li>
            <li>Pre-trip Online orientation</li>
            <li>Post-trip evaluation</li>
            <li>Certificate of participation</li>
            <li>Organisation of private transportation to and from school or a host family, final price dependent on distance.*</li>
            <li>Guided tours, workshops and other attractions, The full itinerary is subject to change.*</li>
        </ul>

        <h3>Daily Activities</h3>
        <div id="activities">
            <h5 style="color: #7464a1">Day 1</h5>
            <p>{{ .Params.Day_1 }}</p>

            <h5 style="color: #7464a1">Day 2</h5>
            <p>{{ .Params.Day_2 }}</p>

            <h5 style="color: #7464a1">Day 3</h5>
            <p>{{ .Params.Day_3 }}</p>

            <h5 style="color: #7464a1">Day 4</h5>
            <p>{{ .Params.Day_4 }}</p>

            <h5 style="color: #7464a1">Day 5</h5>
            <p>{{ .Params.Day_5 }}</p>
        </div>

        {{ partial "booking-form.html" . }}

    </div>
    {{end}}
</main>

{{ end }}
