{{ define "main" }}
<script>
    //this is here because it should only fire here, not on every page, that uses form.js
    document.addEventListener("DOMContentLoaded", () => {
        determineStudentOrSenior()
        initializeDisplayedForm()

        const previousButton = document.getElementById("previousPerson");
        const nextButton = document.getElementById("nextPerson");
        const confirmButton = document.getElementById("toPDF");

        previousButton.addEventListener("click", () => {
            loadDifferentForm(false);
        })

        nextButton.addEventListener("click", () => {
            loadDifferentForm(true);
        })

        confirmButton.addEventListener("click", () => {
            setPersonInfo(JSON.parse(sessionStorage.getItem("currentPerson")));

            const form = document.querySelector('.needs-validation');
            if (check_validity_all_persons()) {
                sendPDF()
            }
            form.classList.add('was-validated');
        });


    });
</script>

<main>
    <div class="container-fluid py-5 justify-content-center">
        <div class="container-fluid py-5 justify-content-center">
            <h1 class="mb-4 mt-5 text-center" id="headerForm">Form</h1>
            <form class="needs-validation" id="form">
                <div class="row g-5 justify-content-center">
                    <div class="col-md-12 col-lg-6 col-xl-7 justify-content-center">
                        <div class="row pt">
                            <div class="col-md-12 col-lg-6 text-center align-items-center justify-content-center pt-4">
                                <button type="button" class="btn btn-primary py-3 px-4 text-uppercase w-100"
                                        id="previousPerson">
                                    Previous Person
                                </button>
                            </div>
                            <div class="col-md-12 col-lg-6 text-center align-items-center justify-content-center pt-4">
                                <button type="button" class="btn btn-primary py-3 px-4 text-uppercase w-100"
                                        id="nextPerson">
                                    Next Person
                                </button>
                            </div>
                        </div>


                        <h3 class="pt-4"> Your information: </h3>

                        <div class="row">
                            <div class="col-md-12 col-lg-6">
                                <!--Two fields or rather something like full legal name oder so?-->
                                <div class="form-floating w-100 mb-3">
                                    <input type="text" class="form-control" id="first-name" placeholder="Max" required>
                                    <label for="first-name">First Name<sup>*</sup></label>
                                    <div class="invalid-feedback">Please enter your forename.</div>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-6">
                                <div class="form-floating w-100 mb-3">
                                    <input type="text" class="form-control" id="last-name" placeholder="Mustermann"
                                           required>
                                    <label for="last-name">Last Name<sup>*</sup></label>
                                    <div class="invalid-feedback">Please enter your last name.</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-floating w-100 mb-3">
                            <input type="text" class="form-control" id="birthdate" placeholder="01/01/1900"
                                   required>
                            <label for="birthdate">Date of Birth (MM/DD/YYYY)<sup>*</sup></label>
                            <div class="invalid-feedback">Please enter your date of birth.</div>
                        </div>
                        <div class="form-floating w-100 mb-3">
                            <input type="text" class="form-control" id="address" placeholder="House number, Street name"
                                   required>
                            <label for="address">Address<sup>*</sup></label>
                            <div class="invalid-feedback">Please enter your address.</div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-lg-3">
                                <div class="form-floating w-100 mb-3">
                                    <input type="text" class="form-control" id="postal-code" placeholder="68167"
                                           required>
                                    <label for="postal-code">Postal Code<sup>*</sup></label>
                                    <div class="invalid-feedback">Please enter your postal code.</div>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-9">
                                <div class="form-floating w-100 mb-3">
                                    <input type="text" class="form-control" id="town" placeholder="Mannheim" required>
                                    <label for="town">Town/City<sup>*</sup></label>
                                    <div class="invalid-feedback">Please enter your Town/City name.</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-floating w-100 mb-3">
                            <input type="tel" class="form-control" id="mobile" placeholder="mobile phone number"
                                   required>
                            <label for="mobile">Phone number<sup>*</sup></label>
                            <div class="invalid-feedback">Please enter your phone number.</div>
                        </div>
                        <div class="form-floating w-100 mb-3">
                            <input type="email" class="form-control" id="email" placeholder="Mustermann@muster.com"
                                   required>
                            <label for="email">Email Address<sup>*</sup></label>
                            <div class="invalid-feedback">Please enter a valid email.</div>
                        </div>
                        <div class="form-floating w-100 mb-3">
                            <input type="text" class="form-control" id="passport-number" placeholder="L01X00T47"
                                   required>
                            <label for="passport-number">Passport number<sup>*</sup></label>
                            <div class="invalid-feedback">Please enter your Passport number.</div>
                        </div>
                        gender:
                        <!-- TODO prefer not to say Button? -->
                        <div class="form-check form-check-inline m->">
                            <input class="form-check-input" type="radio" name="flexRadioGender" id="male" required
                                   value="m">
                            <label class="form-check-label" for="male">
                                male
                            </label>
                        </div>
                        <div class="form-check form-check-inline m->">
                            <input class="form-check-input" type="radio" name="flexRadioGender" id="female" value="f">
                            <label class="form-check-label" for="female">
                                female
                            </label>
                        </div>
                        <div class="form-check form-check-inline m->">
                            <input class="form-check-input" type="radio" name="flexRadioGender" id="diverse" value="d">
                            <label class="form-check-label" for="diverse">
                                diverse
                            </label>
                        </div>

                        <div class="form-check my-3">
                            <input class="form-check-input" type="checkbox" id="disability_present" name="disability"
                                   value="Disability"
                                   onclick="change_visibility(this.checked, 'data-disability')">
                            <label class="form-check-label" for="disability_present">I have a disability</label>
                        </div>

                        <div class="form-floating w-100 mb-3" data-disability hidden>
              <textarea name="text" class="form-control" spellcheck="false" style="height: 250px"
                        id="disability" data-disability hidden placeholder="Please describe your disability"></textarea>
                            <label for="disability" data-disability hidden>Please describe your
                                disability<sup>*</sup></label>
                            <div class="invalid-feedback">Please give us information about your disability.</div>
                        </div>

                        <div class="form-check my-3">
                            <input class="form-check-input" type="checkbox" id="allergies_present" name="allergies"
                                   value="Allergies"
                                   onclick="change_visibility(this.checked, 'data-allergies')">
                            <label class="form-check-label" for="allergies_present">I have allergies</label>
                        </div>

                        <div class="form-floating w-100 mb-3" data-allergies hidden>
              <textarea name="text" class="form-control" spellcheck="false" style="height: 250px"
                        id="allergies" data-allergies hidden placeholder="Please describe your allergies"></textarea>
                            <label for="allergies" data-allergies hidden>Please describe your
                                allergies<sup>*</sup></label>
                            <div class="invalid-feedback">Please give us information about your allergies.</div>
                        </div>

                        <!-- TODO make a checkbox like I have a legal guardian and only show this if that's the case? Could the info here and for emergency contact be the same? In that case "I have a legal guardian and my legal guardian is not my emergency contact=" -->

                        <h3> Information of emergency contact: </h3>

                        <div class="row">
                            <div class="col-md-12 col-lg-6">
                                <!--Two fields or rather something like full legal name oder so?-->
                                <div class="form-floating w-100 mb-3">
                                    <input type="text" class="form-control" id="first-name-ec" placeholder="Max"
                                           required>
                                    <label for="first-name-ec">First Name<sup>*</sup></label>
                                    <div class="invalid-feedback">Please enter your forename.</div>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-6">
                                <div class="form-floating w-100 mb-3">
                                    <input type="text" class="form-control" id="last-name-ec" placeholder="Mustermann"
                                           required>
                                    <label for="last-name-ec">Last Name<sup>*</sup></label>
                                    <div class="invalid-feedback">Please enter your last name.</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-floating w-100 mb-3">
                            <input type="text" class="form-control" id="address-ec"
                                   placeholder="House number, Street name"
                                   required>
                            <label for="address-ec">Address<sup>*</sup></label>
                            <div class="invalid-feedback">Please enter your address.</div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-lg-3">
                                <div class="form-floating w-100 mb-3">
                                    <input type="text" class="form-control" id="postal-code-ec" placeholder="68167"
                                           required>
                                    <label for="postal-code-ec">Postal Code<sup>*</sup></label>
                                    <div class="invalid-feedback">Please enter your postal code.</div>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-9">
                                <div class="form-floating w-100 mb-3">
                                    <input type="text" class="form-control" id="town-ec" placeholder="Mannheim"
                                           required>
                                    <label for="town-ec">Town/City<sup>*</sup></label>
                                    <div class="invalid-feedback">Please enter your Town/City name.</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-floating w-100 mb-3">
                            <input type="tel" class="form-control" id="mobile-ec" placeholder="mobile phone number"
                                   required>
                            <label for="mobile-ec">Phone number<sup>*</sup></label>
                            <div class="invalid-feedback">Please enter your phone number.</div>
                        </div>
                        <div class="form-floating w-100 mb-3">
                            <input type="email" class="form-control" id="email-ec" placeholder="Mustermann@muster.com"
                                   required>
                            <label for="email-ec">Email Address<sup>*</sup></label>
                            <div class="invalid-feedback">Please enter a valid email.</div>
                        </div>

                        gender:
                        <div class="form-check form-check-inline m->">
                            <input class="form-check-input" type="radio" name="flexRadioGenderEmContact" id="male-ec"
                                   required value="m">
                            <label class="form-check-label" for="male-ec">
                                male
                            </label>
                        </div>
                        <div class="form-check form-check-inline m->">
                            <input class="form-check-input" type="radio" name="flexRadioGenderEmContact" id="female-ec"
                                   value="f">
                            <label class="form-check-label" for="female-ec">
                                female
                            </label>
                        </div>
                        <div class="form-check form-check-inline m-> mb-3">
                            <input class="form-check-input" type="radio" name="flexRadioGenderEmContact" id="diverse-ec"
                                   value="d">
                            <label class="form-check-label" for="diverse-ec">
                                diverse
                            </label>
                        </div>

                        <h3 data-legal hidden> Information of legal guardian: </h3>
                        <div class="form-check my-3" data-legal hidden>
                            <input class="form-check-input" type="checkbox" id="same_as_emergency_co"
                                   name="btn_same_as_emergency_co" value="same_as_emergency_co"
                                   onclick="same_as_ec(this.checked)">
                            <label class="form-check-label" for="same_as_emergency_co">Same as emergency contact</label>
                        </div>

                        <div class="row">
                            <div class="col-md-12 col-lg-6">
                                <!--Two fields or rather something like full legal name oder so?-->
                                <div class="form-floating w-100 mb-3" data-legal hidden>
                                    <input type="text" class="form-control" id="first-name-lg" placeholder="Max"
                                           data-legal hidden>
                                    <label for="first-name-lg" data-legal hidden>First Name<sup>*</sup></label>
                                    <div class="invalid-feedback">Please enter your forename.</div>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-6">
                                <div class="form-floating w-100 mb-3" data-legal hidden>
                                    <input type="text" class="form-control" id="last-name-lg" placeholder="Mustermann"
                                           data-legal hidden>
                                    <label for="last-name-lg" data-legal hidden>Last Name<sup>*</sup></label>
                                    <div class="invalid-feedback">Please enter your last name.</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-floating w-100 mb-3" data-legal hidden>
                            <input type="text" class="form-control" id="address-lg"
                                   placeholder="House number, Street name" data-legal hidden>
                            <label for="address-lg" data-legal hidden>Address<sup>*</sup></label>
                            <div class="invalid-feedback">Please enter your address.</div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-lg-3">
                                <div class="form-floating w-100 mb-3" data-legal hidden>
                                    <input type="text" class="form-control" id="postal-code-lg" placeholder="68167"
                                           data-legal hidden>
                                    <label for="postal-code-lg" data-legal hidden>Postal Code<sup>*</sup></label>
                                    <div class="invalid-feedback">Please enter your postal code.</div>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-9">
                                <div class="form-floating w-100 mb-3" data-legal hidden>
                                    <input type="text" class="form-control" id="town-lg" placeholder="Mannheim"
                                           data-legal hidden>
                                    <label for="town-lg" data-legal hidden>Town/City<sup>*</sup></label>
                                    <div class="invalid-feedback">Please enter your Town/City name.</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-floating w-100 mb-3" data-legal hidden>
                            <input type="tel" class="form-control" id="mobile-lg" placeholder="mobile phone number"
                                   data-legal hidden>
                            <label for="mobile-lg" data-legal hidden>Phone number<sup>*</sup></label>
                            <div class="invalid-feedback">Please enter your phone number.</div>
                        </div>
                        <div class="form-floating w-100 mb-3" data-legal hidden>
                            <input type="email" class="form-control" id="email-lg" placeholder="Mustermann@muster.com"
                                   data-legal hidden>
                            <label for="email-lg" data-legal hidden>Email Address<sup>*</sup></label>
                            <div class="invalid-feedback">Please enter a valid email.</div>
                        </div>

                        <p data-legal hidden>gender:</p>
                        <div class="form-check form-check-inline m->" data-legal hidden>
                            <input class="form-check-input" type="radio" name="flexRadioGenderLegalGu" id="male-lg"
                                   value="m" data-legal hidden>
                            <label class="form-check-label" for="male-lg" data-legal hidden>
                                male
                            </label>
                        </div>
                        <div class="form-check form-check-inline m->" data-legal hidden>
                            <input class="form-check-input" type="radio" name="flexRadioGenderLegalGu" id="female-lg"
                                   value="f" data-legal hidden>
                            <label class="form-check-label" for="female-lg" data-legal hidden>
                                female
                            </label>
                        </div>
                        <div class="form-check form-check-inline m-> mb-5" data-legal hidden>
                            <input class="form-check-input" type="radio" name="flexRadioGenderLegalGu" id="diverse-lg"
                                   value="d" data-legal hidden>
                            <label class="form-check-label" for="diverse-lg" data-legal hidden>
                                diverse
                            </label>
                        </div>

                        <div class="form-floating w-100 mb-3">
              <textarea name="text" class="form-control" spellcheck="false" style="height: 250px"
                        id="wishes" placeholder="Other wishes/remarks (Optional)"></textarea>
                            <label for="wishes">Other wishes/remarks (Optional)</label>
                        </div>

                        <div class="form-check my-3">
                            <input class="form-check-input" type="checkbox" id="payment_agreement"
                                   name="payment_agreement" value="Payment_agreement" required>
                            <label class="form-check-label" for="payment_agreement">By signing this I agree to pay the
                                full amount for the trip until one month before the trip's starting
                                date<sup>*</sup></label>
                        </div>

                        <div class="row g-4 text-center align-items-center justify-content-center pt-4">
                            <button type="button" class="btn btn-primary text-white-50 mx-auto mt-2 mb-5" id="toPDF">
                                Confirm
                            </button>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>

</main>
{{ end }}


